.popover {
  --_arrow-width: 28px;
  --_arrow-rounded-tip: 3px;
  --_arrow-rotated-width: calc(var(--_arrow-width) / pow(2, 1 / 2));
  --_arrow-height: calc(var(--_arrow-rotated-width) / 2);
  --_content-offset: calc(var(--_arrow-height) + var(--_arrow-rounded-tip));
  --_arrow-offset: calc(var(--_arrow-height) * -1);

  transition:
    transform 0.2s,
    opacity 0.2s;
}

.popover[data-noarrow="true"] {
  --_arrow-width: 0px;
}

.popover[data-entering],
.popover[data-exiting] {
  transform: var(--_animation-offset);
  opacity: 0;
}

.popover[data-placement="top"] {
  --_animation-offset: translateY(-8px);
  margin-bottom: var(--_content-offset);
}

.popover[data-placement="bottom"] {
  --_animation-offset: translateY(8px);
  margin-top: var(--_content-offset);
}

.popover[data-placement="right"] {
  --_animation-offset: translateX(8px);
  margin-left: var(--_content-offset);
}

.popover[data-placement="left"] {
  --_animation-offset: translateX(-8px);
  margin-right: var(--_content-offset);
}

.close {
  transition: none;
  align-self: start;
  margin-block: calc(var(--sp-sm) * -1) var(--sp-sm);
  margin-inline-start: auto;
  margin-inline-end: calc(var(--sp-sm) * -1);
}

.arrow {
  background: inherit;
  width: var(--_arrow-rotated-width);
  height: var(--_arrow-rotated-width);
  border-radius: var(--_arrow-rounded-tip);
  rotate: 45deg;
}

.arrow[data-placement="top"] {
  transform-origin: left;
  rotate: -45deg;
  margin-top: var(--_arrow-offset);
}

.arrow[data-placement="bottom"] {
  transform-origin: left;
  margin-bottom: var(--_arrow-offset);
}

.arrow[data-placement="left"] {
  transform-origin: top;
  margin-left: var(--_arrow-offset);
}

.arrow[data-placement="right"] {
  transform-origin: top;
  rotate: -45deg;
  margin-right: var(--_arrow-offset);
}
