.label {
  font-size: var(--fs-sm);
  font-weight: bolder;
  line-height: var(--lh-heading);
  color: var(--fg-base);
}

.label-required {
  color: var(--critical);
}

.description,
.error {
  font-size: var(--fs-sm);
  font-weight: normal;
  line-height: var(--lh-base);
}

.description {
  color: var(--passive);
}

.error {
  color: var(--critical);
}

.button {
  background: color-mix(in oklch, var(--bg-base), black 6%);
  border-radius: 0;

  &[data-disabled] {
    cursor: not-allowed;
  }
}

.frame {
  align-self: stretch;
  border-radius: var(--br-sm);
  border: 1px solid var(--bd-base);
  background: var(--bg-base);
  min-height: 40.5px;
  box-sizing: border-box;

  & > :first-child {
    border-start-start-radius: var(--br-sm);
    border-start-end-radius: 0;
    border-end-start-radius: var(--br-sm);
    border-end-end-radius: 0;
  }

  & > :last-child {
    border-start-end-radius: var(--br-sm);
    border-end-start-radius: 0;
    border-end-end-radius: var(--br-sm);
    border-start-start-radius: 0;
  }

  & > :only-child {
    border-radius: var(--br-sm);
  }

  &[data-disabled] {
    opacity: 0.4;
  }

  &[data-invalid] {
    border-color: var(--critical);
  }

  &[data-invalid]:has(input[data-focused="true"]),
  &[data-invalid]:has(textarea[data-focused="true"]) {
    outline: 2px solid var(--critical);
  }

  &:has(input[data-focused="true"]),
  &:has(textarea[data-focused="true"]) {
    outline: 2px solid Highlight;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: -1px;
  }

  & .button[data-focused="true"] {
    outline: 2px solid Highlight;
    outline: 2px auto -webkit-focus-ring-color;
  }
}

.input {
  font-size: var(--fs-md);
  font-weight: normal;
  line-height: var(--lh-heading);
  color: var(--fg-base);
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  padding-inline: var(--sp-md);
  min-width: 0;

  &::placeholder {
    color: var(--fg-placeholder);
    line-height: var(--lh-base);
  }

  &[data-disabled] {
    cursor: not-allowed;
  }
}

input.input {
  padding-block: var(--sp-md);
}

textarea.input {
  padding-block: var(--sp-sm);
}
