.fieldFrame {
  --field-frame-critical-color: var(--color-feedback-critical-strong, #ae1302);
  --field-frame-br: 0.125rem;
}

.label {
  font-weight: bolder;
}

.label-required {
  color: var(--field-frame-critical-color);
}

.error {
  color: var(--field-frame-critical-color);
}

.button {
  background: color-mix(in oklch, var(--bg-base), black 6%);
  border-radius: 0;

  &[data-disabled] {
    cursor: not-allowed;
  }
}

.frame {
  border-radius: var(--field-frame-br);
  min-height: 40.5px;
  box-sizing: border-box;

  & > :first-child {
    border-start-start-radius: var(--field-frame-br);
    border-start-end-radius: 0;
    border-end-start-radius: var(--field-frame-br);
    border-end-end-radius: 0;
  }

  & > :last-child {
    border-start-end-radius: var(--field-frame-br);
    border-end-start-radius: 0;
    border-end-end-radius: var(--field-frame-br);
    border-start-start-radius: 0;
  }

  & > :only-child {
    border-radius: var(--field-frame-br);
  }

  &[data-disabled] {
    opacity: 0.4;
  }

  &[data-invalid] {
    border-color: var(--field-frame-critical-color);
  }

  &[data-invalid]:has(input[data-focused='true']),
  &[data-invalid]:has(textarea[data-focused='true']) {
    outline: 2px solid var(--field-frame-critical-color);
  }

  &:has(input[data-focused='true']),
  &:has(textarea[data-focused='true']) {
    outline: 2px solid Highlight;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: -1px;
  }

  & .button[data-focused="true"] {
    outline: 2px solid Highlight;
    outline: 2px auto -webkit-focus-ring-color;
  }
}

.input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  padding-inline: var(--sp-md);
  min-width: 0;

  &[data-disabled] {
    cursor: not-allowed;
  }
}

input.input {
  padding-block: var(--sp-md);
}

textarea.input {
  padding-block: var(--sp-sm);
}
