# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
coverage-html

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Compiled README files
packages/@bento/**/README.md


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

!.vscode/*
storybook-static
debug-storybook.log

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# When you a test failure, vitest automatically generates a screenshot of the
# failure. This is the folder where the screenshots are stored.
packages/@bento/**/test/__screenshots__/
packages/dev/**/test/__screenshots__/

# When running testing with VITE_NODE_DEBUG_DUMP=true it generates a .vite-node
# folder dump folder of all the compiled assets.
.vite-node

.vitest-attachments/

# Claude
.claude

# Nx
.nx/cache
.nx/workspace-data

# Zed
.zed
