.overlay {
  --modal-overlay-bg: rgba(0, 0, 0, 0.6);

  position: fixed;
  inset: 0;
  background: var(--modal-overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.overlay:where([data-entering], [data-exiting]) {
  opacity: 0;
}

.modalContainer {
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.modalContainer:where([data-entering], [data-exiting]) {
  transform: translateY(8px);
  opacity: 0;
}

.modal {
  position: relative;
  max-block-size: calc(100dvh - var(--sp-md) * 2);
  inline-size: calc(100dvw - var(--sp-md) * 2);
  max-inline-size: 80ch;
}

.content {
  flex: 1 1 auto;
  min-block-size: 0;
  overflow-y: auto;
  padding-inline: var(--sp-md);
  padding-block: var(--sp-sm);
}

.header {
  flex-shrink: 0;
  padding: var(--sp-md);
  padding-block-end: var(--sp-sm);
}

.header :where([slot="close"]) {
  align-self: flex-start;
  margin-inline-start: auto;
}

.footer,
.buttonGroup {
  flex-shrink: 0;
  padding: var(--sp-md);
  padding-block-start: var(--sp-sm);
}

.buttonGroup {
  justify-content: end;
}

.footer > :where(.buttonGroup) {
  padding: 0;
}
