.overlay {
  --_overlay-bg: var(--modal-overlay-bg, rgba(0, 0, 0, 0.6));

  position: fixed;
  inset: 0;
  background: var(--_overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.overlay:where([data-entering], [data-exiting]) {
  opacity: 0;
}

.modal {
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.modal:where([data-entering], [data-exiting]) {
  transform: translateY(8px);
  opacity: 0;
}

.dialog {
  max-block-size: calc(100dvh - var(--sp-md) * 2);
  inline-size: calc(100dvw - var(--sp-md) * 2);
  max-inline-size: 80ch;
}
