.menu {
  --_grid-unit: var(--ux-1sbfig8, 0.25rem);

  padding-block: var(--_grid-unit);
  outline: none;
}

.group {
  display: flex;
  flex-direction: column;
}

.groupLabel {
  color: var(--ux-1m9ys0v, #767676);
  text-transform: uppercase;

  padding-inline: calc(var(--_grid-unit) * 2);
  padding-block-start: calc(var(--_grid-unit) * 2);
  padding-block-end: var(--_grid-unit);

  font-family: var(--ux-15ks663, sans-serif);
  font-size: var(--ux-16aixzc, 0.875rem);
  font-weight: var(--ux-aarlu5, 500);
  line-height: var(--ux-h93mi7, 1.375);
}

.item {
  gap: calc(var(--_grid-unit) * 2);
  padding: calc(var(--_grid-unit) * 2);
  cursor: pointer;
  outline: none;

  background: var(--ux-1sw32wb, #fff);
  color: var(--ux-1wf60ri, #111);

  font-family: var(--ux-gfnupv, sans-serif);
  font-size: var(--ux-cxbe8g, 1rem);
  font-weight: var(--ux-j40yyd, 500);
  line-height: var(--ux-jw5s9j, 1.375);

  &:where([data-hovered]),
  &:where([data-focused]) {
    background: var(--ux-1x1u50s, #e8eaeb);
    color: var(--ux-1mntjax, #111);
  }

  &:where([data-focus-visible]) {
    outline: 2px solid Highlight;
    outline-offset: -2px;
  }

  &:where([data-pressed]),
  &:where([data-selection-mode="single"][data-selected]) {
    background: var(--ux-9cqgfr, #f5f7f8);
    color: var(--ux-h8m2iq, #111);
  }

  &:where([data-disabled]) {
    opacity: 0.4;
    cursor: not-allowed;
  }

  :where(.group) & {
    padding-inline-start: calc(var(--_grid-unit) * 3);
  }

  :where(.menu[data-size="sm"]) & {
    padding-block: var(--_grid-unit);
  }
}

.label {
  flex: 1;
}

.menuPopover {
  outline: none;
}

.separator {
  border: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--color-surface-border-base, var(--ux-97h3vl, #d4dbe0));
}
