.switch {
  --_thumb-size: 1.25em;
  --_thumb-inset: calc(var(--ux-1sbfig8, 0.25rem) * 0.5);
  --_track-w: 3.25em;
  --_track-h: calc(var(--_thumb-size) + var(--_thumb-inset) * 2);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-input-text-default, var(--ux-1glcx6s, #2b2b2b));
}

.switch:where([data-disabled]) {
  opacity: 0.4;
  cursor: not-allowed;
}

.switch:where([data-focus-visible]) {
  outline: 2px solid Highlight;
  border-radius: var(--ux-zvaw3s, 6px);
}

.switch:where([data-size="sm"]) {
  --_thumb-size: 1em;
  --_track-w: 2.5em;
}

.label:where(.switch[data-size="sm"] *) {
  font-size: 0.875em;
  line-height: 1.375;
}

.track {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: var(--_track-w);
  height: var(--_track-h);
  border-radius: calc(var(--_track-h) / 2);
  background: var(--ux-1m9ys0v, #767676);
  transition: background-color 150ms ease;
  pointer-events: none;
}

.track:where(.switch[data-selected] *) {
  background: var(--color-input-background-selected, var(--ux-sywk25, #00a4a6));
}

.thumb {
  position: absolute;
  inset-block-start: var(--_thumb-inset);
  inset-inline-start: var(--_thumb-inset);
  box-sizing: border-box;
  width: var(--_thumb-size);
  height: var(--_thumb-size);
  border-radius: 50%;
  background: var(--color-input-background-default, var(--ux-1nu8itt, #fff));
  transition:
    transform 150ms cubic-bezier(0.77, 0, 0.175, 1),
    background-color 150ms ease;
}

.thumb:where(.switch[data-selected] *) {
  transform: translateX(calc(var(--_track-w) - var(--_thumb-size) - var(--_thumb-inset) * 2));
}

.switch:where([data-selected]:dir(rtl)) :where(.thumb) {
  transform: translateX(calc(var(--_thumb-size) + var(--_thumb-inset) * 2 - var(--_track-w)));
}

@media (forced-colors: active) {
  .track {
    border: 1px solid CanvasText;
    background: Canvas;
    forced-color-adjust: none;
  }

  .thumb {
    background: CanvasText;
  }

  .track:where(.switch[data-selected] *) {
    border-color: Highlight;
    background: Highlight;
  }

  .thumb:where(.switch[data-selected] *) {
    background: HighlightText;
  }
}

.label {
  font-size: 1em;
  font-weight: bolder;
  line-height: 1.125;
}

@media (prefers-reduced-motion: reduce) {
  .thumb {
    transition-property: background-color;
  }
}
