.chart {
  --chart-font-family: var(--ux-1067ph9);
  --chart-canvas-text: var(--ux-1leynsm);
  --chart-canvas-background: var(--ux-cao06b);
  --chart-gridline-stroke-width: 1;
  --chart-grid-color: var(--ux-97h3vl);
  --chart-content-gap: var(--ux-a2dzk8);
  --chart-label-fill: var(--ux-145pjib);
  --chart-label-font-size: var(--ux-1s0t9v0);
  --chart-baseline-color: var(--ux-by6mab);
  --chart-baseline-stroke-width: 2;

  gap: var(--chart-content-gap);
  width: var(--chart-width, 100%);
  height: var(--chart-height, 100%);
}

/* Baseline enabled */
.chart[data-x-baseline="true"] .axisX .baseline,
.chart[data-y-baseline="true"] .axisY .baseline {
  stroke: var(--chart-baseline-color);
  stroke-width: var(--chart-baseline-stroke-width);
}

/* Labels: default (hidden) */
.chart .axisX text,
.chart .axisY text {
  display: none;
}

/* Labels enabled */
.chart[data-x-labels="true"] .area .axisX text,
.chart[data-y-labels="true"] .area .axisY text {
  fill: var(--chart-canvas-text);
  display: block;
}

/* First gridline overlapping axis: hide when baseline shown */
.chart[data-x-baseline="true"] .area .rows line:first-of-type,
.chart[data-y-baseline="true"] .area .columns line:first-of-type {
  display: none;
}

/* Tick lines */
.chart .axisX .tickMark line,
.chart .axisY .tickMark line {
  stroke: transparent;
}
.chart[data-x-tick-marks="true"] .axisX .tickMark line,
.chart[data-y-tick-marks="true"] .axisY .tickMark line {
  stroke: var(--chart-grid-color);
  stroke-width: var(--chart-gridline-stroke-width);
}

/* Gridlines */
.chart[data-x-gridlines="true"] .area .rows line,
.chart[data-y-gridlines="true"] .area .columns line {
  stroke: var(--chart-grid-color);
  stroke-width: var(--chart-gridline-stroke-width);
}

.wrapper {
  gap: var(--chart-content-gap);
  overflow: hidden;
}

.chart[data-legend-position="top"] .legend {
  order: -1;
}

.chart[data-legend-position="bottom"] .legend {
  order: 1;
}

.area {
  position: relative;
  flex: 1;
  overflow: auto;

  & svg {
    display: block;
  }
}

/*
 * Override visx tooltip styles to remove their default appearance.
 * Only reset base visx tooltip styles here; the actual tooltip appearance
 * will be handled by the Tooltip component itself.
 */
.tooltip {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.yAxisBackground {
  fill: var(--chart-canvas-background);
}
