:where(.checkboxGroup, .checkbox) {
  --checkbox-critical-color: var(--color-feedback-critical-strong, var(--ux-1marogz, #ae1302));
}

.checkbox {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.checkbox:where([data-disabled]) {
  opacity: 0.4;
  cursor: not-allowed;
}

.indicator {
  width: 1.25em;
  height: 1.25em;
  border-width: 1px;
  border-style: solid;
  background: var(--color-input-background-default, var(--ux-1nu8itt, #fff));
  border-color: var(--color-input-border-default, var(--ux-by6mab, #767676));
  color: var(--color-input-text-selected, var(--ux-1lw8azc, #111));
  border-radius: 2px;
  box-sizing: border-box;
  transition:
    background-color 150ms ease,
    border-color 150ms ease,
    transform 150ms ease;
  pointer-events: none;
}

.indicator :where(.selectedIcon, .indeterminateIcon) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.indicator:where([data-selected], [data-indeterminate]) {
  background: var(--color-input-background-selected, var(--ux-sywk25, #1bdbdb));
  border-color: var(--color-input-border-selected, var(--ux-77zzwv, #1bdbdb));
}

.indicator:where(.checkbox[data-pressed]:not([data-disabled]) *) {
  transform: scale(0.95);
}

.indicator:where(.checkbox[data-focused] *) {
  outline: 2px solid Highlight;
  outline-offset: 2px;
  border-color: var(--color-input-border-hovered, var(--ux-1bdyuno, #00a4a6));
}

.indicator:where(.checkbox[data-hovered]:not([data-disabled]) *) {
  border-color: var(--color-input-border-hovered, var(--ux-1bdyuno, #00a4a6));
}

.indicator:where(.checkboxGroup[data-invalid] .checkbox[data-selected] *) {
  background-color: var(--checkbox-critical-color);
}

.indicator:where(.checkboxGroup[data-invalid] *) {
  border-color: var(--checkbox-critical-color);
}

@media (prefers-reduced-motion: reduce) {
  .indicator {
    transition-property: background-color, border-color;
  }

  .indicator:where(.checkbox[data-pressed]:not([data-disabled]) *) {
    transform: none;
  }
}
