.checkboxGroup,
.checkbox {
  --checkbox-critical-color: var(--color-feedback-critical-strong, #ae1302);
}

.checkbox {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.checkbox[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.label--required::after {
  content: " *";
  padding-inline-start: 0.2em;
  color: var(--checkbox-critical-color);
}

.indicator {
  width: 1.25em;
  aspect-ratio: 1;
  border-width: 1px;
  border-style: solid;
  background: var(--color-input-background-default, var(--ux-1nu8itt, #fff));
  border-color: var(--color-input-border-default, var(--ux-by6mab, #767676));
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
}

.indicator .selectedIcon,
.indicator .indeterminateIcon {
  width: 100%;
  height: 100%;
}

.checkbox[data-focused] .indicator {
  outline: 2px solid Highlight;
  outline-offset: 2px;
}

.checkbox[data-pressed]:not([data-disabled]) .indicator {
  transform: scale(0.95);
}

.checkbox:hover:not([data-disabled]) .indicator,
.checkbox[data-focused] .indicator,
.checkbox[data-selected]:hover:not([data-disabled]) .indicator,
.checkbox[data-indeterminate]:hover:not([data-disabled]) .indicator {
  border-color: var(--color-input-border-hovered, var(--ux-1bdyuno, #00a4a6));
}

.checkbox[data-selected] .indicator,
.checkbox[data-indeterminate] .indicator {
  background: var(--color-input-background-selected, var(--ux-sywk25, #1bdbdb));
  border-color: var(--color-input-border-selected, var(--ux-77zzwv, #1bdbdb));
}

.checkboxGroup[data-invalid] .checkbox[data-selected] .indicator {
  background-color: var(--checkbox-critical-color);
}

.checkboxGroup[data-invalid] .indicator,
.checkboxGroup[data-invalid] .checkbox:hover:not([data-disabled]) .indicator,
.checkboxGroup[data-invalid] .checkbox[data-selected] .indicator {
  border-color: var(--checkbox-critical-color);
}

.checkboxLabel {
  user-select: none;
}

.error {
  color: var(--checkbox-critical-color);
}

.errorIcon {
  width: 1em;
  height: 1em;
}
