.root {
  --_fs-base: 1rem;
  --_legend-font-size: var(--fs-sm);
}

.item {
  font-size: var(--_legend-font-size);
}

.label {
  font-size: var(--_legend-font-size);
  font-weight: bold;
  line-height: var(--lh-heading);
}

.root .swatch {
  width: var(--_legend-font-size);
  height: var(--_legend-font-size);
}

.root[data-size="sm"] {
  --_legend-font-size: var(--fs-xs);
}

.root[data-size="md"] {
  --_legend-font-size: var(--fs-sm);
}

.root[data-size="lg"] {
  --_legend-font-size: var(--fs-md);
}

.root[data-size="xl"] {
  --_legend-font-size: var(--fs-lg);
}

/* Data visualization colors for legend indicators (wrap every 9 items) */
.item:nth-child(9n + 1) .swatch {
  background-color: var(--viz1);
}

.item:nth-child(9n + 2) .swatch {
  background-color: var(--viz2);
}

.item:nth-child(9n + 3) .swatch {
  background-color: var(--viz3);
}

.item:nth-child(9n + 4) .swatch {
  background-color: var(--viz4);
}

.item:nth-child(9n + 5) .swatch {
  background-color: var(--viz5);
}

.item:nth-child(9n + 6) .swatch {
  background-color: var(--viz6);
}

.item:nth-child(9n + 7) .swatch {
  background-color: var(--viz7);
}

.item:nth-child(9n + 8) .swatch {
  background-color: var(--viz8);
}

.item:nth-child(9n + 9) .swatch {
  background-color: var(--viz9);
}
