.root {
  --legend-item-font-size: var(--ux-1s0t9v0);
  --legend-item-line-height: var(--ux-1w31hux);
  --legend-label-font-size: calc(var(--ux-a2dzk8) - 0.25px);
  --legend-label-line-height: var(--ux-hm1ty7);
  --legend-gap-items: var(--ux-1pfsknb);

  &[data-size="sm"] {
    --legend-item-font-size: calc(var(--ux-2lqd62) + 0.44px);
    --legend-label-font-size: var(--ux-1s0t9v0);
  }

  &[data-size="lg"] {
    --legend-item-font-size: calc(var(--ux-a2dzk8) - 0.25px);
  }

  &[data-size="xl"] {
    --legend-item-font-size: var(--ux-xwz0yz);
    --legend-label-font-size: var(--ux-xwz0yz);
  }
}

.item {
  font-size: var(--legend-item-font-size);
  line-height: var(--legend-item-line-height);
}

.label {
  font-weight: bold;
  font-size: var(--legend-label-font-size);
  line-height: var(--legend-label-line-height);
}

.root .swatch {
  width: 1em;
  height: 1em;
}
