.lockup {
  inline-size: 100%;
  align-items: flex-start;
  text-align: start;
  --_text-lockup-measure: none;
}

.lockup:where([data-legible-lines]) {
  --_text-lockup-measure: 60ch;
}

.lockup:where([data-align="center"]) {
  align-items: center;
  text-align: center;
}

.part {
  max-width: var(--_text-lockup-measure);
}
