:where(.box) {
  --bg-base: var(--ux-cao06b, #fff);
  --sp-base: var(--ux-1sbfig8, 0.25rem);
  --sp-scale: 2;
  --sp-xs: calc(var(--sp-base) * pow(var(--sp-scale), 0));
  --sp-sm: calc(var(--sp-base) * pow(var(--sp-scale), 1));
  --sp-md: calc(var(--sp-base) * pow(var(--sp-scale), 2));
  --sp-lg: calc(var(--sp-base) * pow(var(--sp-scale), 3));
  --sp-xl: calc(var(--sp-base) * pow(var(--sp-scale), 4));
  --sp-2xl: calc(var(--sp-base) * pow(var(--sp-scale), 5));

  background: var(--bg-base);
  color: var(--fg-base);
}

:where(.box[data-elevation="card"]) {
  border-width: 1px;
  border-style: solid;
  background: var(--bg-card);
  border-color: var(--bd-card);
  color: var(--fg-card);
  filter: var(--sh-card);
}

:where(.box[data-elevation="raised"]) {
  border-width: 1px;
  border-style: solid;
  background: var(--bg-raised);
  border-color: var(--bd-raised);
  color: var(--fg-raised);
  filter: var(--sh-raised);
}

:where(.box[data-elevation="overlay"]) {
  border-width: 1px;
  border-style: solid;
  background: var(--bg-overlay);
  border-color: var(--bd-overlay);
  color: var(--fg-overlay);
  filter: var(--sh-overlay);
}
