.chart {
  --chart-canvas-text: var(--ux-1leynsm);
  --chart-border-subtle: var(--ux-97h3vl);
  --chart-canvas-background: var(--ux-cao06b);
  --chart-gridline-stroke-width: 1px;
  --chart-content-gap: var(--ux-a2dzk8);

  gap: var(--chart-content-gap);
}

.wrapper {
  gap: var(--chart-content-gap);
  overflow: hidden;
}

.chart[data-x-labels-vertical="true"] .area .axisX text {
  writing-mode: sideways-lr;
  text-anchor: end;
}

.chart[data-x-labels-vertical="true"] .area .axisX text:dir(rtl) {
  writing-mode: sideways-rl;
}

.area {
  flex: 1;
  overflow: auto;
}

.area svg {
  display: block;
}

.tooltipContainer {
  pointer-events: none !important;
  position: absolute;
  transform: translate(-50%, -100%);
}

.barGroup {
  cursor: pointer;
}

.axisBackground {
  pointer-events: none;
}
