.field {
  --field-critical-color: var(--color-feedback-critical-strong, var(--ux-1fhc073, #db1802));
}

.field:where([data-required]) :where(label)::after {
  content: " *";
  color: var(--field-critical-color);
}

.label {
  color: var(--ux-1glcx6s, #2b2b2b);
  font-size: var(--ux-16aixzc, 0.875rem);
  font-family: var(--ux-15ks663, sans-serif);
  font-weight: var(--ux-aarlu5, 500);
}

.description {
  color: var(--ux-1m9ys0v, #767676);
  font-size: var(--ux-p4h24g, 0.875rem);
  font-weight: var(--ux-g9ierp, 400);
}

.input,
.textarea,
.controlButton {
  background: transparent;
  border: none;
  font-family: var(--ux-9wtaa3, sans-serif);
  line-height: var(--ux-hm1ty7, 1.375);
  font-size: var(--ux-oc0naw, 1rem);
  color: var(--ux-1glcx6s, #2b2b2b);
  padding: var(--sp-md);
  text-align: start;
  min-width: 0;
  max-width: 100%;

  &:where([data-focused]) {
    outline: 2px solid Highlight;
  }
}

.textarea {
  field-sizing: content;
  min-height: min-content;
}

.controlButton {
  cursor: pointer;
  background: var(--ux-1mh0ktr, #f5f5f5);
  border-color: var(--ux-1qbn65p, #f5f5f5);
  color: var(--ux-1utwv7e, #111);

  &:where([data-hovered]) {
    background: var(--ux-11rtwg8, #f5f5f5);
    border-color: var(--ux-bg7olm, #d6d6d6);
    color: var(--ux-1e4ese5, #111);
  }

  &:where([data-pressed]) {
    background: var(--ux-gdy377, #fff);
    border-color: var(--ux-187j9dd, #00a4a6);
    color: var(--ux-k4fkva, #111);
  }

  &:where([data-focused]) {
    outline: 2px solid Highlight;
  }

  &:where([data-disabled]),
  &:disabled {
    cursor: not-allowed;
  }

  > [data-icon] {
    width: 1lh;
    height: 1lh;
  }
}

.controlButton[data-variant="select"] {
  background: transparent;
}

.group {
  --field-br: var(--ux-1oqjeuu, 0.375rem);
  border-radius: var(--field-br);
  box-sizing: border-box;

  &:where([data-disabled]) {
    opacity: 0.4;
  }

  &:where([data-invalid]) {
    border-color: var(--field-critical-color);
  }

  &:where([data-size="sm"]) {
    & :where(.input, .textarea, .controlButton) {
      font-size: calc(1em / 1.125);
    }

    & :where(.input, .textarea) {
      padding-block: var(--sp-sm);
    }

    & :where(.controlButton) {
      padding: var(--sp-sm);
    }
  }

  & > :first-child {
    &,
    > :where(.controlButton) {
      border-start-start-radius: var(--field-br);
      border-end-start-radius: var(--field-br);
    }
  }

  & > :last-child {
    &,
    > :where(.controlButton) {
      border-start-end-radius: var(--field-br);
      border-end-end-radius: var(--field-br);
    }
  }
}
